URI Templates needlessly encode UTF-8 IRIs

According to [RFC6570](https://tools.ietf.org/html/rfc6570),  template strings are allowed to contain the broader set of characters from RFC3987] (above ASCII).

> Although the URI syntax is used for the result, **the template string
   is allowed to contain the broader set of characters that can be found
   in Internationalized Resource Identifier (IRI) references [RFC3987]**.
   Therefore, a URI Template is also an IRI template, and the result of
   template processing can be transformed to an IRI by following the
   process defined in Section 3.2 of [RFC3987].

However, much of the library, including the URI::Template bits, end up encoding non-ascii characters.

RFC3987 defines `iunreserved` as `reserved` plus `uschar`, where `uschar` is the following:

```
   iunreserved    = ALPHA / DIGIT / "-" / "." / "_" / "~" / ucschar

   ucschar        = %xA0-D7FF / %xF900-FDCF / %xFDF0-FFEF
                  / %x10000-1FFFD / %x20000-2FFFD / %x30000-3FFFD
                  / %x40000-4FFFD / %x50000-5FFFD / %x60000-6FFFD
                  / %x70000-7FFFD / %x80000-8FFFD / %x90000-9FFFD
                  / %xA0000-AFFFD / %xB0000-BFFFD / %xC0000-CFFFD
                  / %xD0000-DFFFD / %xE1000-EFFFD
```

For most purposes, if you used `iunreserved` where you currently use `UNRESERVED`, it should have the effect of leaving these character ranges alone.

Much work has gone into this library, and it would be really useful if it were able to manipulate IRIs, both in templates, and variables.

Of course, there are "i" versions of most of the productions, but IMO, most of the use cases come down to `iunreserved`.

Hi @gkellogg - I'm trying to imagine the practical implications of this and having trouble doing so from w3c/csvw#872 - is it a feature request or a bug in the implementation of RFC 6570? 

Trying a few examples it seems like unicode is pretty readily available from the templates until you call normalize.

```
uri = "http://www.詹姆斯.com/atomtests/iri/詹.html"
template = Addressable::Template.new("{+uri}")
template2 = Addressable::Template.new(uri + "{foo}")

2.7.0 :024 > template.expand({uri: uri}).to_s
 => "http://www.詹姆斯.com/atomtests/iri/詹.html"
2.7.0 :025 > template2.expand({foo: "bar"}).to_s
 => "http://www.詹姆斯.com/atomtests/iri/詹.htmlbar"


2.7.0 :026 > template.expand({uri: uri}).normalize.to_s
 => "http://www.xn--8ws00zhy3a.com/atomtests/iri/%E8%A9%B9.html"
```





This is what I'm trying:

```ruby
 uri = "http://example.org/mzdové-třídy.csv"
template = Addressable::Template.new("{+uri}")
template.expand(uri: uri) # => #<Addressable::URI:0x3ff00fc7ba70 URI:http://example.org/mzdov%C3%A9-t%C5%99%C3%ADdy.csv> 
```

This is on Ruby  2.6.3p62 and addressable 2.7.0.


Ah, you're definitely right - I was on a development branch by mistake. I also see the percent encoding behavior in 2.7.0 (guess that branch is still a bit buggy). 

On further review I don't believe we could conform to the spec by having the behavior you're looking for here - https://tools.ietf.org/html/rfc6570#section-3.2.1 is pretty specific about which characters should be percent encoded. 

That being said, I do think the existing API offers some flexibility to alter how variables are transformed which can support cases like this. Alternatively, you could unencode the percent encoded values later, as mentioned above - _"the result of template processing can be transformed to an IRI by following the process defined in Section 3.2 of [RFC3987]."_ . I think you could accomplish that with `Addressable::URI.unencode(uri)`. 

```

2.7.0 :003 > class IRIProcessor
2.7.0 :004 >   def self.transform(name, value)
2.7.0 :005 >     if name == "uri"
2.7.0 :006 >       value
2.7.0 :007 >     else
2.7.0 :008 >       Addressable::URI.encode_component(value)
2.7.0 :009 >     end
2.7.0 :010 >   end
2.7.0 :011 > end
 => :transform
2.7.0 :012 > template.expand({uri: uri}, IRIProcessor.new)
 => #<Addressable::URI:0x8fc URI:http://example.org/mzdové-třídy.csv>
```





> Ah, you're definitely right - I was on a development branch by mistake. I also see the percent encoding behavior in 2.7.0 (guess that branch is still a bit buggy).
> 
> On further review I don't believe we could conform to the spec by having the behavior you're looking for here - https://tools.ietf.org/html/rfc6570#section-3.2.1 is pretty specific about which characters should be percent encoded.

Yes, the paragraph from 1.6 is key:

> Likewise, when non-ASCII data that represents readable strings is
   pct-encoded for use in a URI reference, a template processor MUST
   first encode the string as UTF-8 [RFC3629] and **then pct-encode any
   octets that are not allowed in a URI reference*.

This seems to be odds with the paragraph I cited above about working with extended-range characters.

> That being said, I do think the existing API offers some flexibility to alter how variables are transformed which can support cases like this. Alternatively, you could unencode the percent encoded values later, as mentioned above - _"the result of template processing can be transformed to an IRI by following the process defined in Section 3.2 of [RFC3987]."_ . I think you could accomplish that with `Addressable::URI.unencode(uri)`.

Yes, I now think that that is both a safe and reasonable solution. I added this  under the control of an option, but I think the option is not necessary. I was concerned that this would get confused if a URI was already %-encoded, but these sequences become double-encoded, so unending the result will end up preserving such sequences.

Thanks for your prompt attention, I'm happy that this issue be closed, but I'm a bit disappointed that RFC3987 is not transparent to extended Unicode characters, which seems like a backwards step to more broadly support non-English languages.
